@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montsserrat', sans-serif;
    margin: 0%;
}

.title {
    margin-left: 125px;
    margin-top: 50px;
    font-size: 40px;
    color: #094275;
    font-weight:bold;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 7px 7px 7px 7px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 220px;
    height: 150px;
    text-align: center;
    font-size: 10px;
    transition: all 0.3s ease-out;
    color: white;
    background-color: #094275;
  }

  .number-card {
    font-size: 25px;
  }

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 85px;
    margin-top: 100px;
}
