@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #094275;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;

}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border: none;
    border-radius:  20px;
}

.form-container > h1 {
    color: #094275;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.input:focus {
    outline: transparent;
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top:  30px;
}

.input {
    border-radius: 20px;
    border: none;
    width: 255px;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 15px;
   
}

.line {
    width: 250px;
    height: 0;
    border: 1px solid #206199;
    margin-bottom: 30px;

  }

.submit {
    border-radius: 20px;
    width: 100px;
    height: 50px;
    background-color: #094275;
    color: white;
    font-size: 15px;
}

.footer {
    margin-top: 11%;
    background-color: #094275;
    font-size: 15px;
    text-align: center;
    color: white;
    width: 100%;
    height: 30px;
}