@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.root {
    margin: 0px;
    --primary: #094275;
    --secondary: #F1F5F4;
    --text-font: #717F7F;
    --font-family:  'Montserrat', sans-serif;   
    
    font-family: var(--font-family);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    height: 50px;
    color: var(--secondary);
    background-color: var(--primary);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    text-decoration: none;
}

.nav-bar :hover {
    text-decoration: underline;
    transition: 0.5s;
}

.nav-bar :visited, :link {
    text-decoration: none;
    color: white;
}